@use "@/styles/forwarder" as *;

.button {
  display: grid;
  place-items: center;
  gap: toRem(8px);
  color: var(--pure-white);
  font-size: toRem(16px);
  font-weight: 600;
  background-color: var(--color-00);
  width: 100%;
  padding: toRem(8px) toRem(24px);
  margin: 0;
  border-radius: toRem(32px);
  border-style: solid;
  border-width: toRem(2px);
  border-color: transparent;
  outline-offset: toRem(2px);
  outline-width: toRem(2px);
  outline-color: transparent;
  outline-style: solid;
  transition: var(--global-transition-time-and-function);
  transition-property: color, background-color, outline-color, transform;
  hyphens: manual;
  cursor: pointer;

  @include media-breakpoint-up(sm) {
    width: auto;
  }

  &:not(.button--disabled) {
    @media (hover: hover) {
      &:hover {
        transform: translateY(calc(#{toRem(2px)} * -1));
      }
    }

    &:active {
      transform: translateY(calc(#{toRem(1px)} * -1));
    }
  }

  &:focus-visible {
    outline-color: var(--color-15);
  }
}
