@use "@/styles/forwarder" as *;

.switch {
  position: relative;
  display: inline-block;
  width: toRem(48px);
  height: toRem(26px);

  input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:focus-visible + .switch__slider {
      outline: toRem(2px) solid currentColor;
      outline-offset: toRem(2px);
    }

    &:checked + .switch__slider {
      background-color: var(--color-12);

      &::before {
        transform: translateX((toRem(22px)));
      }
    }
  }

  &__slider {
    position: absolute;
    inset: 0;
    background-color: #cccccc;
    border-radius: toRem(999px);
    transition: var(--global-transition-time-and-function);
    transition-property: background-color;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: toRem(20px);
      height: toRem(20px);
      left: toRem(3px);
      top: toRem(3px);
      background-color: var(--pure-white);
      border-radius: 50%;
      transition: var(--global-transition-time-and-function);
      transition-property: transform;
    }
  }
}
